.wholeContainer {
    width: 100%;
    height: 100%;
    background: url("https://search.pstatic.net/sunny/?src=https%3A%2F%2Fstatic3.depositphotos.com%2F1005573%2F203%2Fi%2F450%2Fdepositphotos_2035301-stock-photo-four-seasons-of-the-oak.jpg&type=sc960_832");

    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    .innerBox {
        width: 80%;
        max-width: 700px;
        height: 60%;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .weatherBox {
        width: 100%;
        flex: 0.8;

        border-radius: 10px;
        background-color: rgba(225, 225, 225, 0.8);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1.2em;
        gap: 10px;
        letter-spacing: -1px;

        >div:nth-child(2) {
            font-size: 1.8em;
            font-weight: 900;
            color: #02c39a;
        }

        >div:nth-child(3) {
            font-size: 1.5em;
            font-weight: 900;
            color: #028090;
        }
    }

    .btnBox {
        flex: 0.2;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        border-radius: 30px;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        button {
            background: none;
            border: solid 1.6px #f0f3bd;
            color: #f0f3bd;
            padding: 10px;
        }

        button:hover {
            background-color: #f0f3bd;
            color: black;
        }

        button:focus-visible {
            outline: none;
        }

        .selected {
            background-color: #f0f3bd;
            color: black;
        }
    }

}

/* 모바일 세로 (해상도 ~ 479px)*/
@media all and (max-width:479px) {
    .wholeContainer {

        .weatherBox {
            >div:nth-child(2) {
                font-size: 1.5em;
            }

            >div:nth-child(3) {
                font-size: 1.3em;
            }
        }

        .btnBox {
            row-gap: 0px;
            padding: 10px 0;
            box-sizing: border-box;
            flex-wrap: wrap;

            button {
                padding: 5px 10px;
                font-size: 0.8em;
            }
        }
    }

}